.btn
	border: 0px
	padding: 0px
	display: inline
	color: #00BCD4

.btn:hover
	cursor: pointer
	background: #636363

form
	display: inline

p
	display: inline

div
	display: none

div#clearButton
	display: inline
	position: absolute
	right: 10px
